

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Trail Indicator <ion-icon name="walk-outline"></ion-icon><ion-icon name="bicycle-outline"></ion-icon> </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Select Status</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-radio-group value="{{ device?.targetState }}" (ionChange)="changeStatus($event.target.value)">
            <ion-item>
              <ion-label>Not Recommended</ion-label>
              <ion-radio slot="start" value="RED" color="danger"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Use Caution</ion-label>
              <ion-radio slot="start" value="YELLOW" color="warning"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Good to Go</ion-label>
              <ion-radio slot="start" value="GREEN" color="success"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>

      <h6 *ngIf="device">Most recent device check-in: {{ device.lastCheckin | date: 'h:mm a on EEEE' }}
        <ion-icon *ngIf="device.currentState === 'GREEN'" name="radio-button-on-outline" color="success"></ion-icon>
        <ion-icon *ngIf="device.currentState === 'YELLOW'" name="radio-button-on-outline" color="warning"></ion-icon>
        <ion-icon *ngIf="device.currentState === 'RED'" name="radio-button-on-outline" color="danger"></ion-icon>
      </h6>
    </ion-card>





  </div>
</ion-content>
