

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="trail">
      <ion-title size="medium">Waterworks Trail<ion-icon name="walk-outline"></ion-icon><ion-icon name="bicycle-outline"></ion-icon> </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Current Trail Status</ion-card-subtitle>
        <ion-card-title *ngIf="device?.targetState == 'RED'"><ion-icon color='danger' name="radio-button-on-outline"></ion-icon> Not Recommended</ion-card-title>
        <ion-card-title *ngIf="device?.targetState == 'YELLOW'"><ion-icon color='warning' name="radio-button-on-outline"></ion-icon> Use Caution</ion-card-title>
        <ion-card-title *ngIf="device?.targetState == 'GREEN'"><ion-icon color='success' name="radio-button-on-outline"></ion-icon> Good to Go</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="device?.targetState == 'RED'">
        Please consider staying off the trails when wet or muddy.  Walking or riding on muddy trails will create small
        ruts that worsen over time and require repair.  This trail is 100% volunteer maintained.
        There are several high quality paved trails in Annapolis that can be used in any weather.
      </ion-card-content>

      <ion-card-content *ngIf="device?.targetState == 'YELLOW'">
        Trail conditions may be marginal, and you are encouraged to use your own discretion.  If you encounter wet
        spots, please ride or hike through the middle and avoid widening the trail.
      </ion-card-content>

      <ion-card-content *ngIf="device?.targetState == 'GREEN'">
        The trail is likely dry or frozen.  Have a good hike or ride!
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item href="https://www.trailforks.com/region/annapolis-waterworks-trail-30337/" lines="none">
          <ion-icon  color='dark' name="map-outline"></ion-icon>
          <ion-label color='dark'>Trail Map on Trailforks</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


  </ion-content>
</ion-content>
